{{!-- <!-- storeWiseProductWiseStockQuantity.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store Wise Product Wise Stock Quantity</title>
</head>

<body>
  <h1>Store Wise Product Wise Stock Quantity</h1>
  <form action="/getStoreWiseStock" method="post">
    <label for="store">Select a Store:</label>
    <select name="selectedStoreId" id="store">
      {{#each stores}}
      <option value="{{this.outletId}}">{{this.storeName}}</option>
      {{/each}}
    </select>
    <button type="submit">Show Stock</button>
  </form>
  {{#if productsWithStock}}
  <h2>Stock for Selected Store: {{selectedStore.storeName}}</h2>
  <table>
    <thead>
      <tr>
        <th>Store Name</th>
        <th>Product Name</th>
        <th>Stock Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{#each productsWithStock}}
      <tr>
        <td>{{selectedStore.storeName}}</td>
        <td>{{this.product.itemName}}</td>
        <td>{{this.stock}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</body>

</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/newStyle.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
  <style>
    /* Light color for even rows */
    .table-custom tbody tr:nth-child(even) {
      background-color: #ffff;
    }

    /* Dark color for odd rows */
    .table-custom tbody tr:nth-child(odd) {
      background-color: rgb(244, 244, 247);
    }

    .breadcrumdiv {
      margin-left: 4px;


    }

    ul.breadcrumb {

      list-style: none;
      padding-top: 25px;


    }

    ul.breadcrumb li {
      display: inline;
      font-size: 15px;
    }

    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: ">\00a0";
    }

    ul.breadcrumb li a {
      color: #3019fa;
      text-decoration: none;
    }

    ul.breadcrumb li:last-child a {
      color: #64748b;
      /* Change the color to the grey color you prefer */

    }

    ul.breadcrumb li a:hover {

      text-decoration: underline;
    }

    #line {
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 12px;
      height: 40px;
      /* Set the height of the container div */
      margin-top: 15px;
      display: flex;
      align-items: center;
      /* Vertically center the content */
      justify-content: center;
      /* Horizontally center the content */
    }

    #line-content {
      /* font-size: 24px; /* Adjust the font size for the content */
      /*  font-weight: 0px;  /* Adjust the font weight for a thinner appearance */
      background-color: #cbd5e1;
      width: 1px;
      height: 70%;
    }
  </style>
</head>

<body id="body-pd">


  {{>side}}
  {{#if message}}
  <div class="alert alert-info">{{message}}</div>
  {{/if}}
  {{#if message}}
  <div class="alert alert-info">{{message}}</div>
  {{/if}}
  <div class="col-md-12 row-md-5 mx-0 main_container " style="padding-right:0px; margin-top:0px">
    <div class="row-md-4 subtitle d-flex justify-content-between my-4 align-items-center"
      style="margin-top: 60px   !important; margin-bottom: 0px ! important;">
      <div class="row-md-4 subtitle d-flex justify-content-start align-items-center w-75" style="margin-top: 5px;">
        <div class="block">
          <h4 class="flex-grow-1 listtocon " style="font-size: 24px;">Product Wise Store Wise Stock Quantity
        </div>
        <div id="line">
          <span id="line-content"></span> <!-- Content inside the div -->
        </div>
        <div class="breadcrumdiv">
          <ul class="breadcrumb">
            <li><a href="#"> Home</a></li>
            <li><a href="#">Master</a></li>
            <li><a href="#">Product Wise Store Wise Stock Quantity</a></li>

          </ul>
        </div>
      </div>


      {{!-- <button type="button" class="btn btn-light btn-md  text-light h-25"
        style="background-color: #ff9f43;font-weight:500"><a href="/storeMaster"
          style="text-decoration: none;color:white">+ Add New Store</a></button> --}}
    </div>

    <div class="container me-class col-md-12" style="padding-right:24px">
      <div class="input-group py-2 ">
        <div class="form-block w-100">
          
              <label for="store">Select a Product</label>
             
         
          <form action="/getProductWiseStock" class="w-75" method="post">
            <div class="d-flex flex-column">
              <select class="w-50 rounded" name="selectedProductId" id="product" style="padding: 4px;">
                <option value="">Select Product</option>
                <option value="all">Select All Product</option>
                {{#each products}}
                <option value="{{this.itemId}}">{{this.itemName}}</option>
                {{/each}}
              </select>
            </div>

            <button class="button-15 mt-4" role="button" type="submit">Show Stock List</button>


          </form>

          
        </div>

      </div>


      <div class="container-table pt-2 p-0 table-responsive">
          <div class="d-flex justify-content-between align-items-center">
          <h4 class="h4-title ">Product Wise Store Wise Stock Quantity List</h4>
           <button class="button-15 " id="exportButton">Export to Excel</button>
          </div>
        <form style="overflow-x: hidden;">
        
          {{#if storeWithStock}}
          <table class="table table-custom" id="store_table" style="width:100%">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Store Name</th>
                <th>Stock Quantity</th>
              </tr>
            </thead>
            <tbody>
              {{#each storeWithStock}}
              <tr>
               <td>{{product.itemName}}</td>
               <td>{{store.storeName}}</td>
               <td>{{this.stock}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{/if}}
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
  <script>
    document.getElementById('exportButton').addEventListener('click', function () {
      // Select the table you want to export (modify the selector as needed)
      const table = document.querySelector('table');

      // Create a new Excel workbook
      const wb = XLSX.utils.table_to_book(table);

      // Generate the Excel data
      const excelData = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });

      // Convert the binary Excel data to a Blob
      const blob = new Blob([s2ab(excelData)], { type: 'application/octet-stream' });

      // Create a download link and trigger the download
      const url = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = 'exported_data.xlsx';
      document.body.appendChild(a);
      a.click();
      window.URL.revokeObjectURL(url);
    });

    // Utility function to convert s to an array buffer
    function s2ab(s) {
      const buf = new ArrayBuffer(s.length);
      const view = new Uint8Array(buf);
      for (let i = 0; i < s.length; i++) {
        view[i] = s.charCodeAt(i) & 0xFF;
      }
      return buf;
    }
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
  <!-- Add this script within the <head> section or just before the closing </body> tag -->


  </form>
</body>

</html>