<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />

</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{>navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      {{>setting}}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {{>side}}
      <!-- partial -->
      <div class="main-panel">
        <div class="color-container"></div>
        <div class="content-wrapper">
          <div class="row">
            <div class="d-flex mb-3">
              <a href="/salesExecutiveList" class="text-white" style="z-index: 3;"><i
                  class="fa-solid fa-angle-left "></i></a>
              <h3 class="card-title ml-4 my-0 font-weight-semibold text-white ls-tighter" style="z-index: 3;">Add Sale
                Executive</h3>


            </div>
            <div class="col-md-12  grid-margin stretch-card p-0">

              <div class="card">
                <div class="card-body col-md-6 p-0">

                  <div class="wrapper pl-3 py-4  col-md-12">

                    <form action="/salesExecutiveUpdate/{{salesExecutive.rowguid}}" method="post">
                      <div
                        class="form-context  px-0 col-md-12 col-12  d-flex justify-content-start flex-column align-items-start">
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-12 flex-wrap col-12 flex-column d-flex justify-content-between align-content-start">
                          <div class=" mb-1 col-md-12 p-0 ">
                            <label for="store" class=" mb-2 block text-nowrap p-0 col-md-2">Store<span
                                class="text-danger">*</span></label>
                            <select name="storeFk" id="store" class="form-control input-field pl-1"
                              class="form-control input-field col-md-12 col-12 " required>
                              <option value="{{previousStore.outletId}}"> {{previousStore.storeName}}</option>
                              {{#each store}}
                              <option value='{{outletId}}'>{{storeName}}</option>
                              {{/each}}
                            </select>
                            </select>
                          </div>
                          <div class=" mb-1 p-0 col-md-12 p-0">
                            <label for="Name" class="m-0 mb-2 text-nowrap block d-flex col-md-2 p-0">Name <span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control input-field col-md-12 col-12"
                              value="{{salesExecutive.name}}" name="name" id="Name" oninput="AlphabateValidate(this)"
                              required placeholder="Enter Your Name">
                          </div>
                        </div>
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-12 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                          <div class=" mb-1 col-md-12  p-0 ">
                            <label for="ContactNo" class="m-0 mb-2 text-nowrap d-flex col-md-2 p-0 col-md-2">Contact
                              No.<span class="text-danger">*</span></label>
                            <input type="number" class="form-control input-field col-md-12 col-12"
                              value="{{salesExecutive.contactNo}}" id="ContactNo" name="contactNo" maxlength="20"
                              placeholder="Enter You Number" oninput="contactNoValidate(this)" required>
                          </div>
                          <div class=" mb-1 col-md-12 p-0">
                            <label for="Email" class="m-0 mb-1 text-nowrap block col-md-2 p-0 col-md-2"> Email<span
                                class="text-danger">*</span></label>
                            <input type="email" class="form-control input-field col-md-12 col-12 "
                              value="{{salesExecutive.email}}" id="Email" name="email" placeholder="Enter Your Email"
                              oninput="emailValidate(this)" required>
                          </div>
                        </div>
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-12 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                          <div class=" mb-1 col-md-12 p-0">
                            <label for="Address" class="m-0 text-nowrap block col-md-2 p-0">Address</label>
                            <textarea type="text" class="form-control input-field col-md-12 col-12" id="Address"
                              name="address" cols="12" rows="3" oninput="AddressValidate(this)"
                              required>{{salesExecutive.address}}</textarea>
                          </div>

                        </div>

                        <div
                          class="inner-cont p-0 col-md-6 col-lg-6 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                          <div class="d-flex align-items-center justify-content-start my-2  col-md-12 p-0">
                            <button class="btn btn-primary mr-2 " role="button" type="submit" style="padding: 9px 20px;
    border-radius: 6px;">Save</button>
                            <button class="btn btn-light" role="button" type="reset" style=" padding: 9px 20px;
    border-radius: 6px;">Reset</button>
                          </div>
                        </div>
                      </div>
                  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>


  {{!-- Reference Number Generator --}}
  <script>
    $.get(`/supplierMasterCode`, function (reffnum) {
      function generateUniqueIdentifier(response) {
        if (response && response.length === 1) {
          const item = response[0];
          const { id, prefix, lastNo, suffix } = item;

          // Increment the lastno value and pad it to 6 digits
          const newLastNo = (parseInt(lastNo) + 1).toString().padStart(6, '0');

          // Construct the unique identifier string
          const uniqueIdentifier = `${prefix}/${newLastNo}/${suffix}`;

          // Update the lastno value in the response
          item.lastNo = newLastNo;


          // Update the input field value with the uniqueIdentifier
          $('#Code').val(uniqueIdentifier);


          return uniqueIdentifier;
        } else {
          return null; // Handle invalid response
        }
      }

      const uniqueIdentifier = generateUniqueIdentifier(reffnum);
      console.log('Generated Unique Identifier:', uniqueIdentifier);
    });
  </script>

<script>

  document.getElementById("CreditLimit").value = 0;

  // Only Text Input Validation
  function AlphabateValidate(inputElement) {
    let pattern = /^[a-zA-Z0-9!@#$%^&*()_+{}\[\]:;<>,.?~\\\-="'\s]+$/
    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Name");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // Email Code  validation
  function emailValidate(inputElement) {
    let pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Email Address");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }


  // ContantPersonName Code  validation
  function validateContactPersonName(inputElement) {
    let pattern = /^[a-zA-Z\s]+$/;
    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please enter a valid Contact Person Name (only alphabets and spaces are allowed).");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }


  // Pin Code number validation
  function pinCodeValidate(inputElement) {
    if (inputElement.value.length > 6) {
      inputElement.value = inputElement.value.slice(0, 6);
    }

    if (/^[0-9]{6}$/.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Pin Number");
    }

    inputElement.addEventListener('blur', () => {
      if (!/^[0-9]{6}$/.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }


  // aadhar number validation
  function aadharNumberValidate(inputElement) {
    if (inputElement.value.length > 12) {
      inputElement.value = inputElement.value.slice(0, 12);
    }

    if (/^[0-9]{12}$/.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Pin Number");
    }

    inputElement.addEventListener('blur', () => {
      if (!/^[0-9]{12}$/.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // contact number validation
  function contactNoValidate(inputElement) {
    inputElement.value = inputElement.value.replace(/\D/g, '');

    if (inputElement.value.length > 10) {
      inputElement.value = inputElement.value.slice(0, 10);
    }

    if (/^[9876]\d{9}$/.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Contact Number");
    }

    inputElement.addEventListener('blur', () => {
      if (!/^[9876]\d{9}$/.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // Convert into upper case
  {
    {
      !-- function convertToUpperCase(input) {
        input.value = input.value.toUpperCase();
      } --}
  }


  // GST Code number validation
  function gstNoValidate(inputElement) {
    function convertToUpperCase() {
      inputElement.value = inputElement.value.toUpperCase();
    }
    convertToUpperCase();

    if (/^\d{2}[A-Z]{5}\d{4}[A-Z]\d[Z][A-Z\d]$/.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid GST Number");
    }

    inputElement.addEventListener('blur', () => {
      if (!/^\d{2}[A-Z]{5}\d{4}[A-Z]\d[Z][A-Z\d]$/.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // PAN number validation
  function panNoValidate(inputElement) {
    inputElement.value = inputElement.value.toUpperCase();

    if (/^[A-Z]{5}[0-9]{4}[A-Z]$/.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid PAN Number");
    }

    inputElement.addEventListener('blur', () => {
      if (!/^[A-Z]{5}[0-9]{4}[A-Z]$/.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // Credit Limit: number validation
  function CreditLimitValidate(inputElement) {
    let pattern = /^\d+(\.\d{1,2})?$/;

    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Credit Limit");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }


  // Credit Days: number validation
  function CreditDaysValidate(inputElement) {
    let pattern = /^[0-9]+$/;
    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Number for Credit Days");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

  // Address validation
  function AddressValidate(inputElement) {
    let pattern = /^[a-zA-Z0-9!@#$%^&*()_+{}\[\]:;<>,.?~\\\-="'\s]+$/

    if (pattern.test(inputElement.value)) {
      inputElement.setCustomValidity('');
    } else {
      inputElement.setCustomValidity("Please Enter a Valid Address");
    }

    inputElement.addEventListener('blur', () => {
      if (!pattern.test(inputElement.value)) {
        inputElement.reportValidity();
      }
    });
  }

</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const statusSelect = document.getElementById("Status");

    let statusArray = ["Active", "Inactive"]

    statusArray.forEach((ele) => {
      const option = document.createElement("option");
      if (statusSelect.value !== ele) {
        option.value = ele;
        option.textContent = ele;
        statusSelect.appendChild(option);
      }
    })
  })


  function setDefaultCreditLimit(inputElement) {
    if (inputElement.value.trim() === "") {
      inputElement.value = "0";
    }
  }
</script>
</html>