<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />

</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {{>navbar}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      {{>setting}}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {{>side}}
      <!-- partial -->
      <div class="main-panel">
        <div class="color-container"></div>
        <div class="content-wrapper">
          <div class="row">
            <div class="d-flex mb-3">
              <a href="/stateMasterList" class="text-white" style="z-index: 3;"><i class="fa-solid fa-angle-left "></i></a>
              <h3 class="card-title ml-4 my-0 font-weight-semibold text-white ls-tighter" style="z-index: 3;">Update Store
              </h3>


            </div>
            <div class="col-md-12  grid-margin stretch-card p-0">

              <div class="card ">
                <div class="card-body col-md-6 p-0">

                  <div class="wrapper pl-3 py-4  col-md-12">

            <form id="statemasterform" action="/stateMasterUpdate/{{state.rowguid}}" method="post">
                      <div
                        class="form-context  px-0 col-md-12 col-12  d-flex justify-content-start flex-column align-items-start">
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-12 flex-wrap col-12 flex-column d-flex justify-content-between align-content-start">
                          <div class=" mb-1 col-md-12 p-0 ">
                            <label for="fname" class=" mb-2 block text-nowrap p-0 col-md-2">Code<span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control input-field  col-md-12 col-12"
                              placeholder="Enter Your First Name"  id="Code" name="Code" value="{{state.Code}}"  required
                             />
                          </div>
                          <div class=" mb-1 p-0 col-md-12 p-0">
                            <label for="lname" class="m-0 mb-2 text-nowrap block d-flex col-md-2 p-0">State Name <span
                                class="text-danger">*</span></label>
                            <input type="text" class="form-control input-field col-md-12 col-12"
                              placeholder="Enter Your Last Name " id="Name" name="Name" value="{{state.Name}}"
                               required>
                          </div>
                        </div>
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-12 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                          <div class=" mb-1 col-md-12  p-0 ">
                            <label for="email" class="m-0 mb-2 text-nowrap d-flex col-md-2 p-0 col-md-2">Display Order</label>
                            <input class="form-control input-field col-md-12 col-12"
                              placeholder="Enter Your Email "type="number" id="Display_order" name="DisplayOrder" value="{{state.DisplayOrder}}"
                              required>
                          </div>
                        
                        </div>
                          <div class="inner-cont p-0 col-md-6 col-lg-12 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                        <div class=" mb-1 col-md-12  p-0 " >
                                 <label for="manager" class="m-0 mb-1 text-nowrap block col-md-2 p-0">Status</label>
                           <select  id="Status" name="Status" class="form-control input-field  col-md-12 col-12" aria-placeholder="Manager Role">
                     <option value="{{state.Status}}">{{state.Status}}</option>
                          </select>
                        </div>
                        
                        </div>

                       
                       
                        <div
                          class="inner-cont p-0 col-md-6 col-lg-6 flex-column  flex-wrap col-12 d-flex  justify-content-between align-content-start">
                          <div class="d-flex align-items-center justify-content-start my-2  col-md-12 p-0">
                            <button class="btn btn-primary mr-2 " role="button" type="submit" style="padding: 9px 20px;
    border-radius: 6px;">Save</button>
                            <button class="btn btn-light" role="button" type="reset" style=" padding: 9px 20px;
    border-radius: 6px;">Reset</button>
                          </div>
                        </div>
                      </div>
                  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {

    const statusSelect = document.getElementById("Status");

    let statusArray = ["Active", "Inactive"]

    statusArray.forEach((ele) => {
      const option = document.createElement("option");
      if (statusSelect.value !== ele) {
        option.value = ele;
        option.textContent = ele;
        statusSelect.appendChild(option);
      }
    })
  });
</script>